@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "lessons";
@import "lesson_modules";

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-centered {
  text-align: center;
}

.page-title {
  margin-bottom: 10px;
}

nav {
  .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .profile-pic {
    margin-right: 10px;
    img {
      @include border-radius(11px);
    }
  }
}

.hidden {
  display: none;
}
