@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "lessons";

.container {
  margin-top: 40px;
}

.text-centered {
  text-align: center;
}

.page-title {
  margin-bottom: 30px;
}

nav {
  .container {
    margin-top: 0px;
  }
  .profile-pic {
    margin-right: 10px;
    img {
      @include border-radius(11px);
    }
  }
}
