// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson-explanation {
  overflow: scroll;
  overflow-x: hidden;

  .lesson-header {
    background-color: blue;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  h1 {
    color: red;
  }
}
