.lesson-explanation {
  overflow: scroll;

  h1 {
    margin-top: 0px;
  }

  .lesson-header {
    border-bottom: $light-border;
  }
}

.box-row {
  padding: 20px 20px 60px;
}

.lesson-box {
  @include border-radius(4px);
  padding: 20px;
  min-height: 100px;
  h2 {
    margin-top: 0px;
    text-align: center;
  }
  a {
    &:hover {
      text-decoration: none
    }
  }
  p {
    text-align: center;
    color: $gray-dark;
  }
  &:hover {
    background-color: $bg-hover-color;
  }
}
