$bg-hover-color: #efefef;

$light-border: 1px solid #ddd;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// bootstrap overrides
$navbar-default-bg: #fff;
